#dashboard {
  display: flex;
  flex-wrap: wrap;
}

#dashboard input[type=file] {
  display: none;
}


.upload {
  display: block;
  font-size: 100px;
  /* border: 1px white solid; */
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}