.container {
  position: absolute;
  width: 25%;
  /* The size you want */
  transition: top 300ms ease-out, left 300ms ease-out;
  background-color: rgba(175, 175, 175, .1)
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 0 30px; */
}

.container img:hover {
  opacity: 0.85;
  transition: all .1s ease;
  cursor: pointer;
}