#mobileNav {
  display: none;
}

@media only screen and (max-width: 800px) {
  #mobileNav {
    display: block;
    text-align: left;
    font-size: 1.1rem;
    padding: 20px;
  }

  #mobileNav .header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
  }

  .header a {
    font-size: 1.25rem;
  }
}