* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 2.2em;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 1rem;
  background-color: #1a1a1a;
  color: #bfbfbf;
}

img {
  vertical-align: middle;
}

button {
  background-color: #1a1a1a;
  color: #bfbfbf;
  border: 1px solid white;
}

button:hover {
  color: white
}

a {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1rem;
  line-height: 1.6em;
  display: block;
  padding: 0.3em;
  color: #ccc;
  text-decoration: none;
}

a:visited {
  color: #ccc;
}

@media only screen and (max-width: 800px) {
  a {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.13rem;
    line-height: 2.5em;
    color: #ccc;
    text-decoration: none;
  }
}