#canvas {
  padding: 80px;
}

#page {
  margin-left: 250px;
  box-sizing: border-box;
}

/* #page::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
} */

@media only screen and (max-width: 800px) {
  #page {
    margin-left: 0;
    padding: 20px;
  }

  #canvas {
    padding: 0;
  }
}